In [56]:
total.head()
test=total[total['timestamp']<'2019-12-01']

,timestamp,target_value,holiday,mon,tues,wend,thurs,fri,sat,sun,day_mean,day_var,month_day_mean
0,2017-01-01,0,1,0,0,0,0,0,0,1,0,0,0
1,2017-01-02,360,0,1,0,0,0,0,0,0,0,0,0
2,2017-01-03,376,0,0,1,0,0,0,0,0,0,0,0
3,2017-01-04,396,0,0,0,1,0,0,0,0,0,0,0
4,2017-01-05,367,0,0,0,0,1,0,0,0,0,0,0

In [30]:
tes=test[test['target_value']!=0]

In [60]:
tes[tes['fri']==1]['target_value'].mean()

214.45070422535213

In [73]:
tes[tes['fri']==1]['target_value'].var()

4661.923084606933

In [74]:
def func(total):
    if total['mon']==1:
        return 3390.14
    elif total['tues']==1: 
        return 3808.9128
    elif total['wend']==1: 
        return 4204.8762
    elif total['thurs']==1: 
        return 3280.0395
    elif total['fri']==1: 
        return 4661.923
    else:
        return 0
        pass 
    
total.day_var=total.apply(func,axis=1)

In [91]:
import calendar
tes['month']=tes['timestamp'].apply(lambda x : calendar.weekday(x.month))

TypeError: weekday() missing 2 required positional arguments: 'month' and 'day'

In [90]:
tes['timestamp']=pd.to_datetime(tes['timestamp'])

/home/ec2-user/anaconda3/envs/amazonei_mxnet_p36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [76]:
tes.set_index('timestamp').groupby(['item_id','yoil']).resample('M').mean().round().drop('yoil',axis=1)

       timestamp  target_value  holiday  mon  tues  wend  thurs  fri  sat  sun
366   2017-01-02           360        0    1     0     0      0    0    0    0
367   2017-01-03           376        0    0     1     0      0    0    0    0
368   2017-01-04           396        0    0     0     1      0    0    0    0
369   2017-01-05           367        0    0     0     0      1    0    0    0
370   2017-01-06           301        0    0     0     0      0    1    0    0
373   2017-01-09           405        0    1     0     0      0    0    0    0
374   2017-01-10           350        0    0     1     0      0    0    0    0
375   2017-01-11           331        0    0     0     1      0    0    0    0
376   2017-01-12           436        0    0     0     0      1    0    0    0
377   2017-01-13           380        0    0     0     0      0    1    0    0
380   2017-01-16           408        0    1     0     0      0    0    0    0
381   2017-01-17           363        0    0     1     0      0    0    0    0
382   2017-01-18           316        0    0     0     1      0    0    0    0
383   2017-01-19           389        0    0     0     0      1    0    0    0
384   2017-01-20           367        0    0     0     0      0    1    0    0
387   2017-01-23           444        0    1     0     0      0    0    0    0
388   2017-01-24           380        0    0     1     0      0    0    0    0
389   2017-01-25           275        0    0     0     1      0    0    0    0
390   2017-01-26           254        0    0     0     0      1    0    0    0
395   2017-01-31           295        0    0     1     0      0    0    0    0
396   2017-02-01           414        0    0     0     1      0    0    0    0
397   2017-02-02           396        0    0     0     0      1    0    0    0
398   2017-02-03           309        0    0     0     0      0    1    0    0
401   2017-02-06           382        0    1     0     0      0    0    0    0
402   2017-02-07           342        0    0     1     0      0    0    0    0
403   2017-02-08           267        0    0     0     1      0    0    0    0
404   2017-02-09           401        0    0     0     0      1    0    0    0
405   2017-02-10           250        0    0     0     0      0    1    0    0
408   2017-02-13           372        0    1     0     0      0    0    0    0
409   2017-02-14           391        0    0     1     0      0    0    0    0
...          ...           ...      ...  ...   ...   ...    ...  ...  ...  ...
2845  2019-10-18           169        0    0     0     0      0    1    0    0
2848  2019-10-21           326        0    1     0     0      0    0    0    0
2849  2019-10-22           343        0    0     1     0      0    0    0    0
2850  2019-10-23           353        0    0     0     1      0    0    0    0
2851  2019-10-24           339        0    0     0     0      1    0    0    0
2852  2019-10-25           211        0    0     0     0      0    1    0    0
2855  2019-10-28           338        0    1     0     0      0    0    0    0
2856  2019-10-29           294        0    0     1     0      0    0    0    0
2857  2019-10-30           311        0    0     0     1      0    0    0    0
2858  2019-10-31           324        0    0     0     0      1    0    0    0
2859  2019-11-01           199        0    0     0     0      0    1    0    0
2862  2019-11-04           367        0    1     0     0      0    0    0    0
2863  2019-11-05           289        0    0     1     0      0    0    0    0
2864  2019-11-06           343        0    0     0     1      0    0    0    0
2865  2019-11-07           325        0    0     0     0      1    0    0    0
2866  2019-11-08           297        0    0     0     0      0    1    0    0
2870  2019-11-12           337        0    0     1     0      0    0    0    0
2871  2019-11-13           468        0    0     0     1      0    0    0    0
2872  2019-11-14           465        0    0     0     0      1    0    0    0
2873  2019-11-15           404        0    0     0     0      0    1    0    0
2876  2019-11-18           502        0    1     0     0      0    0    0    0
2877  2019-11-19           405        0    0     1     0      0    0    0    0
2878  2019-11-20           300        0    0     0     1      0    0    0    0
2879  2019-11-21           364        0    0     0     0      1    0    0    0
2880  2019-11-22           225        0    0     0     0      0    1    0    0
2883  2019-11-25           406        0    1     0     0      0    0    0    0
2884  2019-11-26           366        0    0     1     0      0    0    0    0
2885  2019-11-27           311        0    0     0     1      0    0    0    0
2886  2019-11-28           347        0    0     0     0      1    0    0    0
2887  2019-11-29           211        0    0     0     0      0    1    0    0

[702 rows x 10 columns]